header {
  width: 100%;
  padding: 20px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0px;
  z-index: 1000;
}
header div {
  width: 90%;
  margin: 0 auto;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}
header div a {
  align-self: center;
}
header div img {
  height: 30px;
}
header div nav {
  display: flex;
  align-items: center;
}
header div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1039px) {
  header div ul {
    display: none;
  }
}
header div ul li {
  margin-left: 15px;
}
header div ul li a {
  font-family: "BPG Arial Caps", sans-serif;
  color: #525560;
}

.current {
  color: black;
  font-weight: 500;
}

.button-24 {
  background: #1D2130;
  border: 1px solid #1D2130;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #1D2130;
}

.button-24:active {
  opacity: 0.5;
}

.hamburger {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 1039px) {
  .hamburger {
    display: block;
  }
}

.fSec {
  margin-top: 82px;
  width: 100%;
  margin-bottom: 40px;
}
.fSec .mDv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fSec .infDv {
  display: flex;
  width: 50%;
}
.fSec .infDv img {
  transform: translate(0, -150%);
}
.fSec .smallTxt {
  margin-left: 15px;
  height: 70%;
  position: relative;
}
.fSec .smallTxt h2 {
  font-family: "BPG Arial Caps", sans-serif;
  color: #1D2130;
}
.fSec .smallTxt h1 {
  font-size: 48px;
  color: #1D2130;
  font-weight: 700;
  line-height: 1.6;
  font-family: "BPG Arial Caps", sans-serif;
}
.fSec .wwd {
  width: 40%;
  margin-top: 33px;
}
.fSec .wwd h3 {
  color: #1D2130;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.fSec .wwd p {
  color: #1D2130;
  opacity: 0.6999999881;
  /* Paragraph */
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.longPhoto {
  width: 100%;
  z-index: 100;
  position: relative;
}
.longPhoto .longPhotoWtext {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.longPhoto .longPhotoWtext img {
  width: 100%;
  border-radius: 20px;
  filter: brightness(70%);
}
.longPhoto .longPhotoWtext .textInLongPhoto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.longPhoto .longPhotoWtext .textInLongPhoto h2 {
  color: #FFF;
  text-align: center;
  /* H2 */
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
@media only screen and (max-width: 600px) {
  .longPhoto .longPhotoWtext .textInLongPhoto h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .longPhoto .longPhotoWtext .textInLongPhoto h2 {
    font-size: 24px;
  }
}
.longPhoto .longPhotoWtext .textInLongPhoto #buttonI {
  background-color: #70C174;
  color: white;
  border-color: #70C174;
}
@media only screen and (max-width: 600px) {
  .longPhoto .longPhotoWtext .textInLongPhoto #buttonI {
    min-height: 0px;
    padding: 4px 5px;
  }
}
@media only screen and (max-width: 350px) {
  .longPhoto .longPhotoWtext .textInLongPhoto #buttonI {
    font-size: 12px;
  }
}
.longPhoto .longPhotoWtext .textInLongPhoto #buttonI:hover {
  background-color: white;
  color: #70C174;
  border-color: #70C174;
}
.longPhoto .longPhotoWtext .textInLongPhoto #buttonII {
  background-color: white;
  color: #1D2130;
  border-color: white;
}
@media only screen and (max-width: 600px) {
  .longPhoto .longPhotoWtext .textInLongPhoto #buttonII {
    min-height: 0px;
    padding: 4px 5px;
  }
}
@media only screen and (max-width: 350px) {
  .longPhoto .longPhotoWtext .textInLongPhoto #buttonII {
    font-size: 12px;
  }
}
.longPhoto .longPhotoWtext .textInLongPhoto #buttonII:hover {
  background-color: #1D2130;
  color: white;
  border-color: #1D2130;
}
.longPhoto .longPhotoWtext .textInLongPhoto .buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 350px) {
  .longPhoto .longPhotoWtext .textInLongPhoto .buttons {
    margin-top: 5px;
  }
}

.ttxtSec {
  width: 100%;
  padding-top: 400px;
  padding-bottom: 100px;
  background: var(--green-tertiary, #EFF7F2);
  transform: translate(0%, -40%);
}
.ttxtSec .txtCards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.ttxtSec .txtCards .cardTxt {
  width: 30%;
}
.ttxtSec .txtCards .cardTxt h4 {
  color: var(--primary-text, #1D2130);
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.ttxtSec .txtCards .cardTxt h3 {
  color: #1D2130;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  margin-bottom: 10px;
}
.ttxtSec .txtCards .cardTxt p {
  color: #1D2130;
  opacity: 0.6999999881;
  /* Paragraph */
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.awards {
  width: 100%;
}
.awards .aDv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.awards .aDv .atDv {
  color: var(--primary-text, #1D2130);
  text-align: center;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.awards .aDv .aI {
  margin-top: 30px;
}
.awards .aDv .aI img {
  width: 100%;
}

.team {
  width: 100%;
  margin-top: 40px;
}
.team .teamDiv {
  width: 90%;
  margin: 0 auto;
}
.team .teamDiv h1 {
  color: var(--primary-text, #1D2130);
  text-align: center;
  /* H2 */
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.team .teamDiv .cardBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team .teamDiv .cardBox .card {
  width: 300px;
  margin-top: 50px;
}
.team .teamDiv .cardBox .card img {
  width: 100%;
}

footer {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #0B0706;
  margin-top: 40px;
}
footer .footDv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 550px) {
  footer .footDv {
    align-content: center;
    flex-direction: column-reverse;
  }
}
footer .lists {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
@media only screen and (max-width: 999px) {
  footer .lists {
    width: 170px;
  }
}
footer .lists li {
  margin: 15px 0;
}
footer .lists a {
  color: rgba(255, 255, 255, 0.6588235294);
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
@media only screen and (max-width: 550px) {
  footer .lists a {
    text-align: center;
  }
}
footer h1 {
  color: #FFF;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%; /* 56px */
}
@media only screen and (max-width: 500px) {
  footer h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 300px) {
  footer h1 {
    font-size: 24px;
    width: 225px;
  }
}
footer .subDv {
  width: 40%;
}
@media only screen and (max-width: 799px) {
  footer .subDv {
    width: 288px;
  }
}
@media only screen and (max-width: 300px) {
  footer .subDv {
    width: 240px;
  }
}
footer .sub {
  border-color: white;
  background-color: #0B0706;
  height: 40px;
  border-radius: 10px 0px 0px 10px;
  margin-right: -5px;
}
@media only screen and (max-width: 500px) {
  footer .sub {
    width: 120px;
  }
}
footer #subButton {
  border: 0px;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  color: #0B0706;
  border-color: white;
  margin-bottom: 2px;
}/*# sourceMappingURL=aboutUs.css.map */