header {
  width: 100%;
  padding: 20px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0px;
  z-index: 1000;
}
header div {
  width: 90%;
  margin: 0 auto;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}
header div a {
  align-self: center;
}
header div img {
  height: 30px;
}
header div nav {
  display: flex;
  align-items: center;
}
header div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1039px) {
  header div ul {
    display: none;
  }
}
header div ul li {
  margin-left: 15px;
}
header div ul li a {
  font-family: "BPG Arial Caps", sans-serif;
  color: #525560;
}

.current {
  color: black;
  font-weight: 500;
}

.button-24 {
  background: #1D2130;
  border: 1px solid #1D2130;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #1D2130;
}

.button-24:active {
  opacity: 0.5;
}

.hamburger {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 1039px) {
  .hamburger {
    display: block;
  }
}

.fSec {
  margin-top: 82px;
  width: 100%;
}
.fSec div {
  position: relative;
}
.fSec div img {
  width: 100%;
}
.fSec div .textWb {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fSec div .textWb h1 {
  font-family: "BPG Arial Caps", sans-serif;
  color: white;
  top: 20%;
  left: 5%;
  font-size: 70px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(179, 179, 179, 0.562);
}
.fSec div .textWb #soloButton {
  background-color: white;
  color: #1D2130;
  border-color: white;
  bottom: 50%;
  left: 5%;
}
.fSec div .textWb #soloButton:hover {
  background-color: #1D2130;
  color: white;
  border-color: #1D2130;
}

.sSec {
  margin-top: 72px;
  width: 100%;
}
.sSec .lnDv img {
  transform: translate(0, -150%);
}
.sSec .smallTxt {
  margin-left: 15px;
  height: 70%;
  position: relative;
}
.sSec .smallTxt h2 {
  font-family: "BPG Arial Caps", sans-serif;
  color: #1D2130;
}
.sSec .smallTxt h1 {
  font-size: 48px;
  color: #1D2130;
  font-weight: 700;
  line-height: 1.6;
  font-family: "BPG Arial Caps", sans-serif;
}
.sSec .smallTxt p {
  font-family: "BPG Arial Caps", sans-serif;
  color: #525560;
  line-height: 1.4;
  width: 850px;
}
.sSec .smallTxt button {
  background-color: #70C174;
  color: white;
  border-color: #70C174;
  position: absolute;
  bottom: 0px;
}
.sSec .smallTxt button:hover {
  background-color: white;
  color: #70C174;
  border-color: #70C174;
}
.sSec .mDv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sSec .infDv {
  display: flex;
}
.sSec .mgDv {
  width: 30%;
}
.sSec .mgDv img {
  width: 100%;
  border-radius: 10px;
}

.tSec {
  margin-top: 40px;
  width: 100%;
  background-color: #EFF7F2;
  padding-top: 70px;
  padding-bottom: 70px;
}
.tSec .lnDv img {
  transform: translate(0, -150%);
}
.tSec .smallTxt {
  margin-left: 15px;
  height: 70%;
  position: relative;
}
.tSec .smallTxt h2 {
  font-family: "BPG Arial Caps", sans-serif;
  color: #1D2130;
}
.tSec .smallTxt h1 {
  font-size: 48px;
  color: #1D2130;
  font-weight: 700;
  line-height: 1.6;
  font-family: "BPG Arial Caps", sans-serif;
}
.tSec .smallTxt p {
  margin-top: 25px;
  color: #525560;
  line-height: 1.4;
  width: 850px;
  font-family: "BPG Arial Caps", sans-serif;
}
.tSec .smallTxt button {
  background-color: #70C174;
  color: white;
  border-color: #70C174;
  position: absolute;
  bottom: 0px;
}
.tSec .smallTxt button:hover {
  background-color: white;
  color: #70C174;
  border-color: #70C174;
}
.tSec .mDv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.tSec .infDv {
  display: flex;
}
.tSec .mgDv {
  width: 30%;
}
.tSec .mgDv img {
  width: 100%;
  border-radius: 10px;
}
.tSec h3 {
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-left: 15px;
}

.cardBox {
  width: 90%;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.cardBox div {
  width: 30%;
  position: relative;
}
.cardBox div img {
  width: 100%;
  border-radius: 15px;
  filter: brightness(70%);
}
.cardBox div .cardTxt {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100%;
}
.cardBox div .cardTxt h4 {
  color: #FFF;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  width: 70%;
}
.cardBox div .cardTxt p {
  margin: 5px;
  color: #FFF;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  width: 70%;
}

.secChar {
  width: 100%;
  background-color: #0B0706;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-bottom: 40px;
}
.secChar .charDv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.secChar .charDv .chartTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.secChar .charDv .chartTxt h1 {
  color: white;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.secChar .charDv .chartTxt p {
  color: white;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  width: 650px;
}
.secChar .charDv .chart {
  width: 25%;
}
.secChar .charDv .chart img {
  width: 100%;
}

.longPhoto {
  width: 100%;
  z-index: 100;
  position: relative;
}
.longPhoto .longPhotoWtext {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.longPhoto .longPhotoWtext img {
  width: 100%;
  border-radius: 20px;
  filter: brightness(70%);
}
.longPhoto .longPhotoWtext .textInLongPhoto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.longPhoto .longPhotoWtext .textInLongPhoto h2 {
  color: #FFF;
  text-align: center;
  /* H2 */
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.longPhoto .longPhotoWtext .textInLongPhoto #buttonI {
  background-color: #70C174;
  color: white;
  border-color: #70C174;
}
.longPhoto .longPhotoWtext .textInLongPhoto #buttonI:hover {
  background-color: white;
  color: #70C174;
  border-color: #70C174;
}
.longPhoto .longPhotoWtext .textInLongPhoto #buttonII {
  background-color: white;
  color: #1D2130;
  border-color: white;
}
.longPhoto .longPhotoWtext .textInLongPhoto #buttonII:hover {
  background-color: #1D2130;
  color: white;
  border-color: #1D2130;
}
.longPhoto .longPhotoWtext .textInLongPhoto .buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

footer {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #0B0706;
  margin-top: 40px;
}
footer .footDv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .lists {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
footer .lists li {
  margin: 15px 0;
}
footer .lists a {
  color: rgba(255, 255, 255, 0.6588235294);
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
footer h1 {
  color: #FFF;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%; /* 56px */
}
footer .subDv {
  width: 40%;
}
footer .sub {
  border-color: white;
  background-color: #0B0706;
  height: 40px;
  border-radius: 10px 0px 0px 10px;
  margin-right: -5px;
}
footer #subButton {
  border: 0px;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  color: #0B0706;
  border-color: white;
  margin-bottom: 2px;
}/*# sourceMappingURL=index.css.map */