header {
  width: 100%;
  padding: 20px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0px;
  z-index: 1000;
}
header div {
  width: 90%;
  margin: 0 auto;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}
header div a {
  align-self: center;
}
header div img {
  height: 30px;
}
header div nav {
  display: flex;
  align-items: center;
}
header div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1039px) {
  header div ul {
    display: none;
  }
}
header div ul li {
  margin-left: 15px;
}
header div ul li a {
  font-family: "BPG Arial Caps", sans-serif;
  color: #525560;
}

.current {
  color: black;
  font-weight: 500;
}

.button-24 {
  background: #1D2130;
  border: 1px solid #1D2130;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #1D2130;
}

.button-24:active {
  opacity: 0.5;
}

.hamburger {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 1039px) {
  .hamburger {
    display: block;
  }
}

.sSec {
  margin-top: 82px;
  width: 100%;
  background-color: #EFF7F2;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 1039px) {
  .sSec {
    margin-top: 73px;
  }
}
@media only screen and (max-width: 1058px) {
  .sSec .lnDv {
    display: none;
  }
}
.sSec .lnDv img {
  transform: translate(0, -150%);
}
.sSec .smallTxt {
  margin-left: 15px;
  position: relative;
}
@media only screen and (max-width: 872px) {
  .sSec .smallTxt {
    margin-left: 0px;
  }
}
.sSec .smallTxt h2 {
  font-family: "BPG Arial Caps", sans-serif;
  color: #1D2130;
}
@media only screen and (max-width: 872px) {
  .sSec .smallTxt h2 {
    text-align: center;
  }
}
.sSec .smallTxt h1 {
  font-size: 48px;
  color: #1D2130;
  font-weight: 700;
  line-height: 1.6;
  font-family: "BPG Arial Caps", sans-serif;
}
@media only screen and (max-width: 1403px) {
  .sSec .smallTxt h1 {
    width: 450px;
  }
}
@media only screen and (max-width: 1039px) {
  .sSec .smallTxt h1 {
    font-size: 40px;
    width: 350px;
  }
}
@media only screen and (max-width: 872px) {
  .sSec .smallTxt h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 432px) {
  .sSec .smallTxt h1 {
    width: 250px;
    font-size: 32px;
  }
}
.sSec .smallTxt p {
  font-family: "BPG Arial Caps", sans-serif;
  color: #525560;
  line-height: 1.4;
  width: auto;
}
@media only screen and (max-width: 1403px) {
  .sSec .smallTxt p {
    width: 450px;
  }
}
@media only screen and (max-width: 1039px) {
  .sSec .smallTxt p {
    width: 350px;
  }
}
@media only screen and (max-width: 872px) {
  .sSec .smallTxt p {
    text-align: center;
  }
}
@media only screen and (max-width: 432px) {
  .sSec .smallTxt p {
    width: 250px;
    font-size: 14px;
  }
}
.sSec .smallTxt button {
  background-color: #70C174;
  color: white;
  border-color: #70C174;
  position: absolute;
  bottom: 0px;
}
.sSec .smallTxt button:hover {
  background-color: white;
  color: #70C174;
  border-color: #70C174;
}
.sSec .mDv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 872px) {
  .sSec .mDv {
    flex-direction: column;
    align-items: center;
  }
}
.sSec .infDv {
  display: flex;
}
.sSec .mgDv {
  width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
@media only screen and (max-width: 432px) {
  .sSec .mgDv {
    width: 95%;
  }
}
.sSec .mgDv div {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 432px) {
  .sSec .mgDv div {
    flex-direction: column;
    align-items: center;
  }
}
.sSec .mgDv img {
  width: 30%;
  margin: 10px;
  border-radius: 5px;
}
@media only screen and (max-width: 432px) {
  .sSec .mgDv img {
    width: 125px;
  }
}
.sSec .mgDv p {
  color: var(--secondary-text, #525560);
  /* Paragraph */
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 10px;
}
@media only screen and (max-width: 432px) {
  .sSec .mgDv p {
    text-align: center;
  }
}

.news {
  width: 100%;
  margin-top: 40px;
}
.news .newsDv {
  width: 90%;
  margin: 0 auto;
}
.news .newsDv h1 {
  color: var(--primary-text, #1D2130);
  text-align: center;
  /* H2 */
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
@media only screen and (max-width: 432px) {
  .news .newsDv h1 {
    width: 250px;
    font-size: 32px;
  }
}
.news .newsDv .cardBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.news .newsDv .cardBox .card {
  width: 300px;
  margin-top: 50px;
}
.news .newsDv .cardBox .card img {
  width: 100%;
  border-radius: 5px;
}
.news .newsDv .cardBox .card p {
  color: var(--secondary-text, #525560);
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

footer {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #0B0706;
  margin-top: 40px;
}
footer .footDv {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 550px) {
  footer .footDv {
    align-content: center;
    flex-direction: column-reverse;
  }
}
footer .lists {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
@media only screen and (max-width: 999px) {
  footer .lists {
    width: 170px;
  }
}
footer .lists li {
  margin: 15px 0;
}
footer .lists a {
  color: rgba(255, 255, 255, 0.6588235294);
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
@media only screen and (max-width: 550px) {
  footer .lists a {
    text-align: center;
  }
}
footer h1 {
  color: #FFF;
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%; /* 56px */
}
@media only screen and (max-width: 500px) {
  footer h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 300px) {
  footer h1 {
    font-size: 24px;
    width: 225px;
  }
}
footer .subDv {
  width: 40%;
}
@media only screen and (max-width: 799px) {
  footer .subDv {
    width: 288px;
  }
}
@media only screen and (max-width: 300px) {
  footer .subDv {
    width: 240px;
  }
}
footer .sub {
  border-color: white;
  background-color: #0B0706;
  height: 40px;
  border-radius: 10px 0px 0px 10px;
  margin-right: -5px;
}
@media only screen and (max-width: 500px) {
  footer .sub {
    width: 120px;
  }
}
footer #subButton {
  border: 0px;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  color: #0B0706;
  border-color: white;
  margin-bottom: 2px;
}/*# sourceMappingURL=news.css.map */