$pageFont:"BPG Arial Caps", sans-serif;
$primColor:#1D2130;
$secColor:#525560;
@import "mixins";

@include myHeader;

.fSec {
    margin-top: 82px;
    width: 100%;
    margin-bottom: 40px;
    .mDv {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .infDv{
        display: flex;
        width: 50%;
        img {
            transform: translate(0, -150%);
        }
    }
    .smallTxt{
        margin-left: 15px;
        height: 70%;
        position: relative;
        h2{
            font-family: $pageFont;
            color: $primColor;
        }
        h1{
            font-size: 48px;
            color: $primColor;
            font-weight: 700;
            line-height: 1.6;
            font-family: $pageFont;
            @media only screen and (max-width: 850px) {
                line-height: 1.3;
                font-size: 40px;
                width: 350px;
            }
        }
    }
    .wwd{
        width: 40%;
        margin-top: 33px;
        h3{
            color: $primColor;
            font-family: $pageFont;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 30px */
            @media only screen and (max-width: 850px) {
                line-height: 140%;
                font-size: 18px;
            }
        }
        p{
            color: $primColor;
            opacity: 0.699999988079071;
            /* Paragraph */
            font-family: $pageFont;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 25.6px */
            @media only screen and (max-width: 850px) {
                line-height: 140%;
                font-size: 13px;
            }
        }
    }
    .lnDv{
        @media only screen and (max-width: 850px) {
            display: none;
        }
    }
}
@include LONGphoto;


.ttxtSec{
    width: 100%;
    padding-top: 400px;
    padding-bottom:100px ;
    background: var(--green-tertiary, #EFF7F2);
    transform: translate(0%, -40%);
    @media only screen and (max-width: 1300px) {
        padding-top: 250px;
        transform: translate(0%, -30%);
    }
    @media only screen and (max-width: 1119px) {
        
        transform: translate(0%, -20%);
    }
    @media only screen and (max-width: 850px) {
        padding-top: 150px;
        transform: translate(0%, -20%);
    }
    @media only screen and (max-width: 667px) {
        padding-top: 100px;
        padding-bottom: 50px;
        transform: translate(0%, -10%);
    }
    .txtCards{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        .cardTxt{
            width: 30%;
            @media only screen and (max-width: 667px) {
                width: 45%;
            }
            h4{
                color: var(--primary-text, #1D2130);
                font-family: $pageFont;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-bottom: 15px;
                @media only screen and (max-width: 850px) {
                    margin-bottom: 10px;
                    font-size: 13px;
                }
            }
            h3{
                color: $primColor;
                font-family: $pageFont;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 30px */
                margin-bottom: 10px;
                @media only screen and (max-width: 850px) {
                    line-height: 140%;
                    font-size: 18px;
                }
            }
            p{
                color: $primColor;
                opacity: 0.699999988079071;
                /* Paragraph */
                font-family: $pageFont;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 25.6px */
                @media only screen and (max-width: 850px) {
                    line-height: 140%;
                    font-size: 13px;
                }
            }
        }
    }
}

.awards{
    width: 100%;
    .aDv{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .atDv{
            color: var(--primary-text, #1D2130);
            text-align: center;

            font-family: $pageFont;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 57.6px */
        }
        .aI{
            margin-top: 30px;
            img{
                width: 100%;
                
            }
        }
    }
}


.team{
    width: 100%;
    margin-top: 40px;
    .teamDiv{
        width: 90%;
        margin: 0 auto;
        h1{
            color: var(--primary-text, #1D2130);
            text-align: center;

            /* H2 */
            font-family: $pageFont;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 57.6px */
        }
        .cardBox{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media only screen and (max-width: 667px) {
                justify-content: center;
            }
            .card{
                width: 300px;
                margin-top: 50px;
                img{
                    width: 100%
                }
            }
        }
        
    }
}
























@include myFooter;