$pageFont:"BPG Arial Caps", sans-serif;
$primColor:#1D2130;
$secColor:#525560;
@import "mixins";

@include myHeader;

.fSec{
    margin-top: 82px;
    width: 100%;
    div{
        position: relative;
        img{
            width: 100%
        }
        .textWb{
            position: absolute;
            top:15%;
            left: 5%;
            height: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;



            h1{
                font-family: $pageFont;
                color:white;
                
                top: 20%;
                left: 5%;
                font-size: 70px;
                
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: rgba(179, 179, 179, 0.562);
                @media only screen and (max-width: 835px) {
                    font-size: 50px;
                }
                @media only screen and (max-width: 500px) {
                    font-size: 30px;
                }
                
            }
            #soloButton{
                background-color: white;
                color: $primColor ;
                border-color: white;
                
                bottom: 50%;
                left: 5%;
                @media only screen and (max-width: 600px) {
                    min-height: 0px;
                    padding: 5px 6px;
                }
            }
            #soloButton:hover{
                background-color: $primColor;
                color: white ;
                border-color: $primColor;
            }
        }
        
    }
    
}

.sSec{
    margin-top: 72px;
    width: 100%;
    .lnDv{
        
        img{
            transform: translate(0, -150%);
            @media only screen and (max-width: 1171px) {
                display: none;
            }
        }
        
    }
    .smallTxt{
        margin-left: 15px;
        height: 70%;
        position: relative;
        @media only screen and (max-width: 981px) {
            width: 400px;
        }
        @media only screen and (max-width: 835px) {
            height: 400px;
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media only screen and (max-width: 500px) {
            width: 250px;
        }
        h2{
            font-family: $pageFont;
            color: $primColor;
            @media only screen and (max-width: 1171px) {
                margin-bottom: -13px;
            }
            @media only screen and (max-width: 835px) {
                text-align: center;
                margin-top: 20px;
            }
        }
        h1{
            font-size: 48px;
            color: $primColor;
            font-weight: 700;
            line-height: 1.6;
            font-family: $pageFont;
            @media only screen and (max-width: 1687px) {
                font-size: 40px;
                
            }
            @media only screen and (max-width: 1488px) {
                font-size: 32px;
                width: 650px;
                line-height: 1.4;
                
            }
            @media only screen and (max-width: 981px) {
                width:400px ;
            }
            @media only screen and (max-width: 835px) {
                text-align: center;
                margin: 0px;
            }
            @media only screen and (max-width: 500px) {
                font-size: 24px;
                width: 250px;
                margin: 0 auto;
            }
        }
        p{
            font-family: $pageFont;
            color: $secColor;
            line-height: 1.4;
            width: 850px;
            @media only screen and (max-width: 1687px) {
                font-size: 15px;
                
            }
            @media only screen and (max-width: 1488px) {
                font-size: 12px;
                width: 650px;
            }
            @media only screen and (max-width: 981px) {
            width: 400px;
            }
            @media only screen and (max-width: 835px) {
                text-align: center;
                margin: 0px;
            }
            @media only screen and (max-width: 500px) {
                width: 250px;
            }
        }
        button{
            background-color: #70C174;
            color: white ;
            border-color: #70C174;
            position: absolute;
            bottom: 0px;
            @media only screen and (max-width: 835px) {
                transform: translate(-50%, 0%);
            }
        }
        button:hover{
            background-color: white;
            color: #70C174 ;
            border-color: #70C174;
        }
    }
    .mDv{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 835px) {
            flex-direction: column-reverse;
            align-items: center;
        }
        
    }
    .infDv{
        display: flex;
        
    }
    .resDv{
        @media only screen and (max-width: 835px) {
            height: 200px;
        }
    }
    .mgDv{
            width: 30%;
            @media only screen and (max-width: 981px) {
                width: 50%;
            }
            @media only screen and (max-width: 835px) {
                width: 400px;
            }
            @media only screen and (max-width: 500px) {
                width: 250px;
            }
        img{
            width: 100%;
            border-radius: 10px;
            
        }
    }
}



.tSec{
    margin-top: 40px;
    width: 100%;
    background-color: #EFF7F2;
    padding-top: 70px;
    padding-bottom: 70px;
    @media only screen and (max-width: 835px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .lnDv{
        
        img{
            transform: translate(0, -150%);
            @media only screen and (max-width: 1171px) {
                display: none;
            }
        }
        
    }
    .smallTxt{
        margin-left: 15px;
        height: 70%;
        position: relative;
        @media only screen and (max-width: 835px) {
            text-align: center;
            margin: 0px;
        }
        img{
            @media only screen and (max-width: 1687px) {
                height: 250px;
                margin-top: 15px;
            }
            @media only screen and (max-width: 1056px) {
                display: none;
            }
        }
        h2{
            font-family: $pageFont;
            color: $primColor;
            @media only screen and (max-width: 1171px) {
                margin-bottom: -13px;
            }
            @media only screen and (max-width: 835px) {
                text-align: center;
                margin-top: 20px;
            }
        }
        h1{
            font-size: 48px;
            color: $primColor;
            font-weight: 700;
            line-height: 1.6;
            font-family: $pageFont;
            @media only screen and (max-width: 1687px) {
                font-size: 40px;
                
            }
            @media only screen and (max-width: 1488px) {
                font-size: 32px;
                width: 650px;
                line-height: 1.4;
            }
            @media only screen and (max-width: 981px) {
                width:400px ;
            }
            @media only screen and (max-width: 835px) {
                text-align: center;
                margin: 0px;
            }
            @media only screen and (max-width: 500px) {
                font-size: 24px;
                width: 250px;
                margin: 0 auto;
            }
        }
        p{
            margin-top: 25px;
            color: $secColor;
            line-height: 1.4;
            width: 850px;
            font-family: $pageFont;
            @media only screen and (max-width: 1687px) {
                font-size: 16px;
                width: 650px;
                margin-top: 15px;
            }
            @media only screen and (max-width: 1488px) {
                font-size: 12px;
                width: 650px;
            }
            @media only screen and (max-width: 1056px) {
                margin-top: 5px;
            }
            @media only screen and (max-width: 981px) {
                width:400px ;
            }
            @media only screen and (max-width: 835px) {
                text-align: center;
                margin: 0px;
            }
            @media only screen and (max-width: 500px) {
                
                width: 250px;
                margin: 0 auto;
            }
        }
        ul{
            margin: 15px; 
            margin-left: 30px;
            @media only screen and (max-width: 1488px) {
                display: flex;
                flex-wrap: wrap;
                width: 550px;
            }
            @media only screen and (max-width: 1056px) {
                margin-left: 0px; 
            }
            @media only screen and (max-width: 981px) {
                width:400px ;
            }
            @media only screen and (max-width: 835px) {
                justify-content: center;
                margin: 0px;
            }
            @media only screen and (max-width: 500px) {
                
                width: 250px;
                margin: 0 auto;
            }
        }
        #liX1{
            list-style-image: url(../images/Icon1.svg);
            @media only screen and (max-width: 1056px) {
                list-style-image: none;  
            }
        }
        #liX2{
            list-style-image: url(../images/Icon2.svg);
            @media only screen and (max-width: 1056px) {
                list-style-image: none;  
            }
        }
        #liX3{
            list-style-image: url(../images/Icon3.svg);
            @media only screen and (max-width: 1056px) {
                list-style-image: none;  
            }
        }
        #liX4{
            list-style-image: url(../images/Icon4.svg);
            @media only screen and (max-width: 1056px) {
                list-style-image: none;  
            }
        }
        li{
            
            p{
                width: 400px;
                @media only screen and (max-width: 1687px) {
                    font-size: 12px;
                    width: 650px;
                    margin-top: 10px;
                }
                @media only screen and (max-width: 1488px) {
                    font-size: 12px;
                    width: 250px;
                    margin-top: 10px;
                }
                @media only screen and (max-width: 500px) {
                    width: 250px;
                }
            }
        }
        
        button{
            background-color: #70C174;
            color: white ;
            border-color: #70C174;
            position: absolute;
            bottom: 0px;
        }
        button:hover{
            background-color: white;
            color: #70C174 ;
            border-color: #70C174;
        }
    }
    .mDv{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 835px) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    .infDv{
        display: flex;
        
    }
    .mgDv{
            width: 30%;
            @media only screen and (max-width: 981px) {
                width: 50%;
            }
            @media only screen and (max-width: 835px) {
                width: 400px;
            }
            @media only screen and (max-width: 500px) {
                width: 250px;
            }
        img{
            width: 100%;
            border-radius: 10px;
        }
    }

    h3{
        font-family: $pageFont;
        font-size: 24px;

        font-weight: 700;
        margin-left: 15px;
        @media only screen and (max-width: 1488px) {
            font-size: 20px;
            margin-left: 0px    ;
        }
        @media only screen and (max-width: 835px) {
            text-align: center;
            
        }
        
    }

}


.fSec{
    margin-top: 72px;
    width: 100%;
    .lnDv{
        
        img{
            transform: translate(0, -150%);
            @media only screen and (max-width: 1171px) {
                display: none;
            }
        }
        
    }
    .smallTxt{
        margin-left: 15px;
        height: 70%;
        position: relative;
        @media only screen and (max-width: 981px) {
            width: 400px;
        }
        
        @media only screen and (max-width: 888px) {
            height: 200px;
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media only screen and (max-width: 500px) {
            width: 250px;
        }
        h2{
            font-family: $pageFont;
            color: $primColor;
            @media only screen and (max-width: 1171px) {
                margin-bottom: -13px;
            }
            @media only screen and (max-width: 835px) {
                text-align: center;
                margin-top: 20px;
            }
        }
        h1{
            font-size: 48px;
            color: $primColor;
            font-weight: 700;
            line-height: 1.6;
            font-family: $pageFont;
            @media only screen and (max-width: 1687px) {
                font-size: 40px;
                
            }
            @media only screen and (max-width: 1488px) {
                font-size: 32px;
                width: 650px;
                line-height: 1.4;
                
            }
            @media only screen and (max-width: 981px) {
                width:400px ;
            }
            @media only screen and (max-width: 888px) {
                text-align: center;
                margin: 0px;
            }
            @media only screen and (max-width: 500px) {
                font-size: 24px;
                width: 250px;
                margin: 0 auto;
            }
        }
        p{
            font-family: $pageFont;
            color: $secColor;
            line-height: 1.4;
            width: 850px;
            @media only screen and (max-width: 1687px) {
                font-size: 15px;
                
            }
            @media only screen and (max-width: 1488px) {
                font-size: 12px;
                width: 650px;
            }
            @media only screen and (max-width: 981px) {
            width: 400px;
            }
            @media only screen and (max-width: 835px) {
                text-align: center;
                margin: 0px;
            }
            @media only screen and (max-width: 500px) {
                width: 250px;
            }
        }
        button{
            background-color: #70C174;
            color: white ;
            border-color: #70C174;
            position: absolute;
            bottom: 0px;
            @media only screen and (max-width: 835px) {
                transform: translate(-50%, 0%);
            }
        }
        button:hover{
            background-color: white;
            color: #70C174 ;
            border-color: #70C174;
        }
    }
    .mDv{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 888px) {
            flex-direction: column-reverse;
            align-items: center;
        }
        
    }
    .infDv{
        display: flex;
        
    }
    .resDv{
        @media only screen and (max-width: 835px) {
            height: 200px;
        }
    }
    .mgDv{
            width: 30%;
            @media only screen and (max-width: 981px) {
                width: 50%;
            }
            @media only screen and (max-width: 835px) {
                width: 400px;
            }
            @media only screen and (max-width: 500px) {
                width: 250px;
            }
        img{
            width: 100%;
            border-radius: 10px;
            
        }
    }
}

.cardBox{
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @media only screen and (max-width: 1488px) {
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .resCARDDIV{
        width: 30%;
        position: relative;
        @media only screen and (max-width: 1488px) {
            width: 400px;
            margin-top: 15px;
        }
        @media only screen and (max-width: 500px) {
            width: 250px;
        }
        img{
            width: 100%;
            border-radius: 15px;
            filter: brightness(70%);
        }
        .cardTxt{
            position: absolute;
            top: 10%;
            left: 5%;
            width: 100%;
            
            @media only screen and (max-width: 500px) {
                text-align: center;
                top: 0px;
                left: 50%;
                transform: translate(-50%, 0%);
            }
            h4{
                color: #FFF;
                font-family: $pageFont;
                font-size: 28px;
                font-weight: 900;
                line-height: 150%; 
                width: 70%;
                @media only screen and (max-width: 1687px) {
                    font-size: 24px;
                }
                @media only screen and (max-width: 500px) {
                    width: auto;
                    
                }
                @media only screen and (max-width: 450px) {
                    
                    font-size: 20px;
                }
            }
            p{
                margin: 5px;
                color: #FFF;
                font-family: $pageFont;
                font-size: 14px;
                font-weight: 400;
                line-height: 150%; 
                width: 70%;
                @media only screen and (max-width: 1687px) {
                    font-size: 12px;
                }
                @media only screen and (max-width: 500px) {
                    width: auto;
                    
                }
            }
        }
    }
}
.secChar{
    width: 100%;
    background-color: #0B0706;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 40px;
    .charDv{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        
        @media only screen and (max-width: 679px) {
            flex-direction: column;
            align-items: center;
        }
    
        .chartTxt{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h1{
                color: white;
                font-family: $pageFont;
                font-size: 48px;

                font-weight: 700;
                line-height: 120%; /* 57.6px */
                @media only screen and (max-width: 967px) {
                    font-size: 40px;
                    width: 400px;
                }
                @media only screen and (max-width: 679px) {
                    text-align: center;
                    margin: 0px;
                }
                @media only screen and (max-width: 500px) {
                    font-size: 24px;
                    width: 250px;
                    margin: 0 auto;
                }
                
            }
            p{
                color: white;
                font-family: $pageFont;
                font-size: 24px;

                font-weight: 700;
                line-height: 120%; /* 57.6px */
                width: 650px;
                @media only screen and (max-width: 967px) {
                    font-size: 20px;
                    width: 400px;
                }
                @media only screen and (max-width: 679px) {
                    text-align: center;
                    margin: 0px;
                }
                @media only screen and (max-width: 500px) {
                    width: 250px;
                }
            }
        }
        .chart{
            width: 25%;
            @media only screen and (max-width: 679px) {
                width: 250px;
                margin-top: 15px;
            }
            img{
                width: 100%;
            }
        }
    }
}



@include LONGphoto;

@include myFooter;