$pageFont:"BPG Arial Caps", sans-serif;
$primColor:#1D2130;
$secColor:#525560;


@mixin myHeader{
    header{
        width: 100%;
        padding: 20px;
        background-color: #FFFFFF;
        position: fixed;
        top: 0px;
        z-index: 1000;
        div{
            width: 90%;
            margin: 0 auto;
            
            vertical-align: middle;
            display:flex;
            justify-content: space-between;
            a{
                align-self: center;
            }
            img{
                height: 30px;
            }
            nav{
                display:flex;
                align-items: center;
                
                }
                ul{
                    
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    @media only screen and (max-width: 1039px) {
                        display: none;
                    }
                    li{
                        margin-left: 15px;
                        a{
                            font-family: $pageFont;
                            color: #525560;
                        }
                        
                        }
                    }
                    
                }
            }
        
    
    
    .current{
        color: black;
        font-weight: 500;
    }
    
    
    .button-24 {
      background: $primColor;
      border: 1px solid $primColor;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: $pageFont;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      min-height: 40px;
      outline: 0;
      padding: 12px 14px;
      text-align: center;
      text-rendering: geometricprecision;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      
    }
    
    .button-24:hover,
    .button-24:active {
      background-color: initial;
      background-position: 0 0;
      color: $primColor;
    }
    
    .button-24:active {
      opacity: .5;
    }
    
    .hamburger{
        background-color: transparent;
        border:0;
        font-size: 20px;
        cursor: pointer;
        display: none;
        @media only screen and (max-width: 1039px) {
            display: block;
        }
    }
}

@mixin LONGphoto{
    .longPhoto{
        width: 100%;
        z-index: 100;
        position: relative;
        .longPhotoWtext{
            width: 90%;
            margin: 0 auto;
            position: relative;
            img{
                width: 100%;
                border-radius: 20px;
                filter: brightness(70%);
            }
            .textInLongPhoto{

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h2{
                    color: #FFF;
                    text-align: center;

                    /* H2 */
                    font-family: $pageFont;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 57.6px */
                    @media only screen and (max-width: 600px) {
                        font-size: 40px;
                    }
                    @media only screen and (max-width: 450px) {
                        font-size: 32px;
                    }
                }
                #buttonI{
                            
                    background-color: #70C174;
                    color: white ;
                    border-color: #70C174;
                    
                    @media only screen and (max-width: 600px) {
                        min-height: 0px;
                        padding: 4px 5px;
                    }
                
                }
                #buttonI:hover{
                    background-color: white;
                    color: #70C174 ;
                    border-color: #70C174;
                    
                }
                #buttonII{
                            
                    background-color: white;
                    color: $primColor;
                    border-color: white;
                    @media only screen and (max-width: 600px) {
                        min-height: 0px;
                        padding: 4px 5px;
                    }
                
                
                }
                #buttonII:hover{
                    background-color: $primColor;
                    color: white ;
                    border-color: $primColor;
                }
                .buttons{
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-around; 
                }
            }
        }
    }
}

@mixin myFooter{
    footer{
        width: 100%;
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: #0B0706;
        margin-top: 40px;
        .footDv{
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media only screen and (max-width: 550px) {
                align-content: center;
                flex-direction: column-reverse
            }
        }
        .lists{
            display: flex;
            width: 20%;
            justify-content: space-between;
            @media only screen and (max-width: 999px) {
                width: 170px;
            }
            li{
                margin: 15px 0;
            }
            a{
                color: #ffffffa8;
                font-family: $pageFont;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 22.4px */
                @media only screen and (max-width: 550px) {
                    text-align: center;
                }
            }
        }
        h1{
            color: #FFF;
            font-family: $pageFont;
            font-size: 40px;
            font-weight: 700;
            line-height: 140%; /* 56px */
            
        }
        .subDv{
            width: 40%;
            @media only screen and (max-width: 799px) {
                width: 288px;
            }
        }
        .sub{
            border-color: white ;
            background-color: #0B0706;
            height: 40px;
            border-radius:  10px 0px 0px 10px  ;
            margin-right: -5px;
            
        }
        #subButton{
            border: 0px;
            border-radius:  0px 10px 10px 0px ;
            background-color: white;
            color: #0B0706;
            border-color: white;
            margin-bottom: 2px;
        }
    }
}